# Visual Studio stuff
/source/*.user
/source/*.suo
/source/*/bin/
/source/*/obj/
/source/*/*.user
/source/*/*.suo
/source/packages/
/source/TestResults/
/publish/
/publish.*

# Managed by NuGet
/lib/

# build files
/build/
