@using BJ.MongoDB.WebUI.Models;
@model StatViewModel

<table class="table">
    <colgroup> 
        <col style="width: 40%;" />
        <col style="width: 10%;" />
        <col style="width: 10%;" />
        <col style="width: 10%;" />
        <col style="width: 10%;" />
        <col style="width: 10%;" />
        <col style="width: 10%;" />
    </colgroup> 
    <tr class="success">
        <th>OC</th>
        <th><span class="label label-default">DEBUG</span></th>
        <th><span class="label label-info">INFO</span></th>
        <th><span class="label label-warning">WARN</span></th>
        <th><span class="label label-danger">ERROR</span></th>
        <th><span class="label label-danger">FATAL</span></th>
        <th>Все</th>
    </tr>
    <tr>
        <td class="appname-table">Windows XP</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><span class="badge">20</span></td>
    </tr>
    <tr>
        <td class="appname-table">Windows 7</td>
        <td><span class="badge">5</span></td>
        <td><span class="badge">8</span></td>
        <td><span class="badge">5</span></td>
        <td></td>
        <td><span class="badge">12</span></td>
        <td><span class="badge">30</span></td>
    </tr>
    <tr>
        <td class="appname-table">Windows 8</td>
        <td><span class="badge">10</span></td>
        <td></td>
        <td><span class="badge">8</span></td>
        <td></td>
        <td><span class="badge">2</span></td>
        <td><span class="badge">20</span></td>
    </tr>
</table>