<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BossOJ.Lib.DBLog.UIClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="BJ.MongoDB.ClientUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <applicationSettings>
    <BossOJ.Lib.DBLog.UIClient.Properties.Settings>
      <setting name="csMongoDB" serializeAs="String">
        <value>mongodb://read:read@localhost:27017/local?safe=true</value>
      </setting>
      <setting name="Level" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>DEBUG</string>
            <string>INFO</string>
            <string>WARN</string>
            <string>ERROR</string>
            <string>FATAL</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="LastDay" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="App" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="FormatException" serializeAs="String">
        <value>{0}\r\n\r\n------------------------------\r\n{1}</value>
      </setting>
    </BossOJ.Lib.DBLog.UIClient.Properties.Settings>
    <BJ.MongoDB.ClientUI.Properties.Settings>
      <setting name="csMongoDB" serializeAs="String">
        <value>mongodb://read:read@localhost:27017/local?safe=true</value>
      </setting>
      <setting name="Level" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>DEBUG</string>
            <string>INFO</string>
            <string>WARN</string>
            <string>ERROR</string>
            <string>FATAL</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="App" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
        </value>
      </setting>
      <setting name="FormatException" serializeAs="String">
        <value>{0}\r\n\r\n------------------------------\r\n{1}</value>
      </setting>
      <setting name="Day" serializeAs="String">
        <value>400</value>
      </setting>
      <setting name="Collection" serializeAs="String">
        <value>Logs2</value>
      </setting>
    </BJ.MongoDB.ClientUI.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MongoDB.Bson" publicKeyToken="f686731cfb9cc103" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.0.4624" newVersion="1.6.0.4624" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>